<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>
<body>
    <header>
        <h1>Buy Tickets</h1>
        <nav>
            <!-- FIX THESE LINKS AFTER I UPLAOD TO GITHUB -->
            <a href="file:///Users/thomasjamesweng/Documents/git/67250_techproject_phaseb_D/index.html">Home</a>
            <a href="file:///Users/thomasjamesweng/Documents/git/67250_techproject_phaseb_D/view/explore.html">Explore</a>
            <a href="file:///Users/thomasjamesweng/Documents/git/67250_techproject_phaseb_D/view/exhibitions.html">Exhibitions</a>
            <a href="file:///Users/thomasjamesweng/Documents/git/67250_techproject_phaseb_D/view/tickets.html">Buy Tickets</a>
            <a href="file:///Users/thomasjamesweng/Documents/git/67250_techproject_phaseb_D/view/checkout.html">Checkout</a>
        </nav>
    </header>
    <div class="main"></div>
        <table>
            <tr>
                <th>Ticket Type</th>
                <th>Description</th>
                <th>$Price$</th>
            </tr>
            <tr>
                <td>Adult</td>
                <td>General admission for ages 18 and over.  Under 18 free of charge.  </td>
                <td>$18</td>
            </tr>
            <tr>
                <td>Student</td>
                <td>Student ID required.  </td>
                <td>$10</td>
            </tr>
            <tr>
                <td>Member</td>
                <td>Member ID required</td>
                <td>$15</td>
            </tr>
        </table>
        <footer>
            <p>Copyright &copy; 2026 MonoMuse. All rights reserved.</p>
        </footer>
</body>
</html>