<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>
<body>
    <header>
        <h1>Exhibitions</h1>
        <nav>
            <!-- FIX THESE LINKS AFTER I UPLAOD TO GITHUB -->
            <a href="file:///Users/thomasjamesweng/Documents/git/67250_techproject_phaseb_D/index.html">Home</a>
            <a href="file:///Users/thomasjamesweng/Documents/git/67250_techproject_phaseb_D/view/explore.html">Explore</a>
            <a href="file:///Users/thomasjamesweng/Documents/git/67250_techproject_phaseb_D/view/exhibitions.html">Exhibitions</a>
            <a href="file:///Users/thomasjamesweng/Documents/git/67250_techproject_phaseb_D/view/tickets.html">Buy Tickets</a>
            <a href="file:///Users/thomasjamesweng/Documents/git/67250_techproject_phaseb_D/view/checkout.html">Checkout</a>
        </nav>
    </header>
    <div class="main"></div>
        <h3>Exhibition 1: Clockwork Dreams: The Art of Automata</h3>
        <p>
            This exhibition showcases the intricate world of Victorian-era 
            automata, highlighting the craftsmanship and imagination of 
            horologists that brought these mechanical marvels to life.
        </p>
        <h3>Exhibition 2: Pixels in Motion: Interactive Digital Art</h3>
        <p>
            This exhibition explores the intersection of technology and art, 
            featuring immersive digital installations that respond to visitor 
            interaction.
        </p>
</body>
</html>