<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <img id="logo" src="./static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>
    <div class="main">
        <form>
            <label for="name">Name: (required)</label><br>
            <input type="text" id="name" name="name" required><br>

            <label for="email">Email: (required)</label><br>
            <input type="email" id="email" name="email" required><br>

            <label for="qty">Ticket Quantity: (required)</label><br>
            <input type="number" id="qty" name="qty" required min="1"><br>
            <input type="submit" value="Submit">
        </form>
        <footer>
            <p>Copyright &copy; 2026 MonoMuse. All rights reserved.</p>
        </footer>


</body>
</html>
