<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
</head>
<body>
    <header>
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>
    <div class="main"></div>
        <h3>Exhibition 1: Clockwork Dreams: The Art of Automata</h3>
        <p>
            This exhibition showcases the intricate world of Victorian-era 
            automata, highlighting the craftsmanship and imagination of 
            horologists that brought these mechanical marvels to life.
        </p>
        <h3>Exhibition 2: Pixels in Motion: Interactive Digital Art</h3>
        <p>
            This exhibition explores the intersection of technology and art, 
            featuring immersive digital installations that respond to visitor 
            interaction.
        </p>
    </div>
</body>
</html>